<!DOCTYPE html>
<!--/* $Id$ */-->
<html xmlns:th="http://www.thymeleaf.org" th:xmlns="@{http://www.w3.org/1999/xhtml}">
  <head>
    <meta charset="UTF-8"/>
    <title th:if="${title != null}" th:text="${title}"/>
    <meta th:if="${description != null}" name="description" th:content="${description}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <link rel="stylesheet"/>
    <style/>
  </head>
  <body>
    <th:block th:insert="~{browserupgrade}"/>
    <header>
      <nav th:ref="navbar">
        <div th:ref="container">
          <div th:ref="navbar-brand">
            <a th:text="${#strings.defaultString(brand, 'Home')}" th:href="@{/}"/>
          </div>
          <div th:ref="navbar-menu">
            <ul th:ref="navbar-start"></ul>
            <ul th:ref="navbar-end">
              <li th:ref="navbar-item">
                <a th:text="'UPNP'"/>
                <ul th:ref="navbar-dropdown">
                  <li><a th:text="'Devices'" th:href="@{/upnp/devices}"/></li>
                  <li><a th:text="'SSDP'" th:href="@{/upnp/ssdp}"/></li>
                </ul>
              </li>
              <li th:ref="navbar-item">
                <a th:text="'Network'"/>
                <ul th:ref="navbar-dropdown">
                  <li><a th:text="'Interfaces'" th:href="@{/network/interfaces}"/></li>
                  <li><a th:text="'Hosts'" th:href="@{/network/hosts}"/></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main th:unless="${#ctx.containsVariable('exception')}"
          th:switch="${#request.servletPath}">
      <section th:case="'/error'">
        <h1 th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"/>
        <h2 th:text="${#request.getAttribute('javax.servlet.error.status_code')}"/>
        <p th:text="${#request.getAttribute('javax.servlet.error.message')}"/>
      </section>
      <section th:case="'/upnp/devices'">
        <table>
          <tbody>
            <tr th:each="entry : ${upnp.entrySet()}">
              <td>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <a th:href="@{${entry.key}}" th:target="_newtab">
                          <code th:text="${entry.key}"/>
                        </a>
                      </td>
                    </tr>
                    <tr th:each="usn : ${entry.value}">
                      <td><code th:text="${usn}"/></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section th:case="'/upnp/ssdp'">
        <table>
          <tbody>
            <tr th:each="entry : ${ssdp.entrySet()}">
              <td th:object="${entry.value.SSDPMessage}">
                <p><code th:text="${entry.key}"/></p>
                <p th:with="href = @{*{location}}">
                  <a th:href="${href}" th:target="_newtab">
                    <code th:text="${href}"/>
                  </a>
                </p>
                <p><pre th:text="*{toString().trim()}"/></p>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section th:case="'/network/interfaces'">
        <table>
          <tbody>
            <tr th:each="netif : ${interfaces}">
              <td>
                <p><code th:text="${netif.name}"/></p>
                <p><code th:text="${#conversions.convert(netif, 'voyeur.types.HardwareAddress')}"/></p>
              </td>
              <td>
                <th:block th:each="address : ${netif.interfaceAddresses}">
                  <p th:if="${address.address.class.name != 'java.net.Inet6Address'}">
                    <code th:text="${address.address.hostAddress}"/>
                  </p>
                </th:block>
              </td>
              <td>
                <th:block th:each="address : ${netif.interfaceAddresses}">
                  <p th:if="${address.address.class.name == 'java.net.Inet6Address'}">
                    <code th:text="${address.address.hostAddress}"/>
                  </p>
                </th:block>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section th:case="'/network/hosts'">
        <table>
          <tbody>
            <tr th:each="address : ${hosts}">
              <td>
                <code th:text="${address.hostAddress}"/>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <main th:if="${#ctx.containsVariable('exception')}">
      <section>
        <h1 th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"/>
        <p th:text="${exception.message}"/>
      </section>
    </main>
    <footer>
      <nav th:ref="navbar">
        <div th:ref="container">
          <span th:ref="left" th:text="${#request.servletPath}"/>
          <span th:ref="center" th:text="''"/>
          <span th:ref="right" th:text="''"/>
        </div>
      </nav>
    </footer>
    <script/>
  </body>
</html>
