<!--/* $Id$ */-->
<head>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
  <style/>
  <script th:src="@{/js/plugins.js}" th:text="''"/>
</head>
<body>
  <header>
    <nav th:with="brand = ${@environment.getProperty('application.brand')}">
      <a th:text="${brand ?: 'Home'}" th:href="@{/}"/>
      <ul>
        <li><a th:text="'Interfaces'" th:href="@{/interfaces}"/></li>
        <li><a th:text="'SSDP'" th:href="@{/ssdp}"/></li>
      </ul>
    </nav>
  </header>
  <main th:switch="${#request.servletPath}">
    <table th:case="'/interfaces'">
      <tbody>
        <tr th:each="interface : ${interfaces}">
          <td th:text="${interface.name}"/>
          <td th:text="${interface.up}"/>
          <!--/* <td th:text="${interface.hardwareAddress}"/> */-->
          <td th:text="${interface.interfaceAddresses}"/>
        </tr>
      </tbody>
    </table>
    <table th:case="'/ssdp'">
      <tbody>
        <tr th:each="entry : ${ssdp.entrySet()}">
          <td th:object="${entry.value.SSDPMessage}">
            <p><code th:text="${entry.key}"/></p>
            <p th:with="href = @{*{location}}">
              <a th:href="${href}" th:target="_newtab">
                <code th:text="${href}"/>
              </a>
            </p>
            <p><pre th:text="*{toString().trim()}"/></p>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <nav>
      <span th:text="${#request.servletPath}"/>
      <span th:text="''"/>
      <span th:text="''"/>
    </nav>
  </footer>
  <script th:src="@{/webjars/jquery/jquery.js}" th:text="''"/>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.js}" th:text="''"/>
</body>
